# Building a Logistic Regression

Create a logistic regression based on the bank data provided. 

The data is based on the marketing campaign efforts of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).

Note that the first column of the dataset is the index.

Source: [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, Elsevier, 62:22-31, June 2014

## Import the relevant libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sb
sb.set()

## Load the data

Load the ‘Example_bank_data.csv’ dataset.

In [7]:
raw_data = pd.read_csv('Example-bank-data.csv')
raw_data

     Unnamed: 0  duration    y
0             0       117   no
1             1       274  yes
2             2       167   no
3             3       686  yes
4             4       157   no
5             5       126   no
6             6        84   no
7             7        17   no
8             8       704  yes
9             9       185   no
10           10       374   no
11           11        91  yes
12           12       169  yes
13           13       249   no
14           14       215   no
15           15       324  yes
16           16       159  yes
17           17       120  yes
18           18       337  yes
19           19       640   no
20           20       663  yes
21           21       403  yes
22           22       300   no
23           23       255  yes
24           24       293  yes
25           25        68   no
26           26       266  yes
27           27       272  yes
28           28       398  yes
29           29       126   no
..          ...       ...  ...
488         488       608  yes
489         489       250   no
490         490       107  yes
491         491       716  yes
492         492       619  yes
493         493       406   no
494         494        73   no
495         495       127   no
496         496       187   no
497         497       180  yes
498         498       326  yes
499         499       109  yes
500         500       470  yes
501         501        73   no
502         502       141   no
503         503       115   no
504         504       171   no
505         505       498   no
506         506       365  yes
507         507        10   no
508         508       796  yes
509         509       279  yes
510         510       476  yes
511         511       479  yes
512         512       225   no
513         513       204   no
514         514       806  yes
515         515       290   no
516         516       473  yes
517         517       142   no

[518 rows x 3 columns]

We want to know whether the bank marketing strategy was successful, so we need to transform the outcome variable into 0s and 1s in order to perform a logistic regression.

In [12]:
data = raw_data.copy()
data = data.drop(['Unnamed: 0'], axis = 1)
data['y'] = data['y'].map({'yes':1,'no':0})
data

     duration  y
0         117  0
1         274  1
2         167  0
3         686  1
4         157  0
5         126  0
6          84  0
7          17  0
8         704  1
9         185  0
10        374  0
11         91  1
12        169  1
13        249  0
14        215  0
15        324  1
16        159  1
17        120  1
18        337  1
19        640  0
20        663  1
21        403  1
22        300  0
23        255  1
24        293  1
25         68  0
26        266  1
27        272  1
28        398  1
29        126  0
..        ... ..
488       608  1
489       250  0
490       107  1
491       716  1
492       619  1
493       406  0
494        73  0
495       127  0
496       187  0
497       180  1
498       326  1
499       109  1
500       470  1
501        73  0
502       141  0
503       115  0
504       171  0
505       498  0
506       365  1
507        10  0
508       796  1
509       279  1
510       476  1
511       479  1
512       225  0
513       204  0
514       806  1
515       290  0
516       473  1
517       142  0

[518 rows x 2 columns]

In [13]:
data.describe()

          duration           y
count   518.000000  518.000000
mean    382.177606    0.500000
std     344.295990    0.500483
min       9.000000    0.000000
25%     155.000000    0.000000
50%     266.500000    0.500000
75%     482.750000    1.000000
max    2653.000000    1.000000

### Declare the dependent and independent variables

In [15]:
y = data['y']
x1 = data['duration']

### Simple Logistic Regression

Run the regression and visualize it on a scatter plot (no need to plot the line).

In [17]:
x = sm.add_constant(x1)
my_model = sm.Logit(y,x)
my_fit = my_model.fit()
my_fit.summary()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      516
Method:                           MLE   Df Model:                            1
Date:                Tue, 18 Dec 2018   Pseudo R-squ.:                  0.2121
Time:                        21:44:21   Log-Likelihood:                -282.89
converged:                       True   LL-Null:                       -359.05
                                        LLR p-value:                 5.387e-35
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.7001      0.192     -8.863      0.000      -2.076      -1.324
duration       0.0051      0.001      9.159      0.000       0.004       0.006
==============================================================================
"""

In [ ]:
plt.